exportPattern("^[[:alpha:]]+")

#export(read_mol2) 
#export(write_mol2)
#export(cmf_pred_anal_atoms) 
#export(cmf_pred_anal) 
#export(comp_ind_kernels_all)
#export(comp_ind_kernels_pred)
#export(comp_ind_kernels_train)
#export(comp_kernels_all)
#export(comp_kernels_pred)
#export(comp_kernels_train)
#export(cmf_calc_mdb_mopac)
#export(cmf_comp_mopac_kernels_all)
#export(cmf_comp_mopac_kernels_pred) 
#export(cmf_comp_mopac_kernels_train) 
#export(cmf_ecvr_plot_coverage_mean_error)
#export(cmf_ecvr_plot_d2m_error) 
#export(cmf_gen_grid_ex)
#export(cmf_gen_grid)
#export(cmf_gen_grid_mopac)
#export(cmf_gen_grid)
#export(cmf_krr_ecv)
#export(cmf_krr_ecvr_pred) 
#export(cmf_krr_ecvr)
#export(cmf_krr_pred)
#export(cmf_krr_train)
#export(substruct)
#export(cinf_plotxy)
#export(cmf_view_mol_field_cofield) 

